.nave {
    text-align: justify, center;
    align-items: center;
    background-color: lightseagreen;
    padding: 14px;
    box-sizing: border-box;
}
nav > a {
    
    font-size: 36px;
    color: #9621ad;
    padding: 10px;
    margin: 25px;
    text-decoration: overline;
    background-color: #39ad21;
    border-bottom: 5px solid #ad2139;
    border-left: 5px solid #ad2139;
    border-right: 5px solid #ad2139;
    border-radius: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;

    
}
nav > a:hover {
    background-color: darkgreen;
    text-decoration: underline;
    color: orange;
}

#chatic {
    size: 100px 100px;
}